<!--前端通用引用-->
<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/common.css">
<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/index.css">
<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/base.css">
<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/my.css">
<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/origin.css">
<!--<link rel="stylesheet" href="__PUBLIC__/mgotrip/mgocx_css/need/layer.css">-->
<script type="text/javascript" src="__PUBLIC__/mgotrip/mgocxjs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mgotrip/mgocxjs/common.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/mgotrip/mgocx_css/layer.js"></script>-->

<!--加载layer插件-->
<link rel="stylesheet" href="__PUBLIC__/mgotrip/layer/skin/default/layer.css">
<script type="text/javascript" src="__PUBLIC__/mgotrip/layer/layer.js"></script>
<!--百度地图相关引用-->
<link rel="stylesheet" href="__PUBLIC__/mgotrip/poshytip/tip-yellowsimple/tip-yellowsimple.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/mgotrip/poshytip/jquery.poshytip.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=UQRkijgp4GWEFa1g2cRQpytGox5nf5dy" type="text/javascript"></script>


<!--测试的引用-->
<script type="text/javascript" src="__PUBLIC__/mgotrip/test.js"></script>