<!--登录框 star-->
<div class="shade3_box">
    <div class="login_box" id="login_box">
        <div class="login_bar">
            <h3>验证手机</h3>
            <a href="javascript:void(0)" class="btn-close-box"></a>
            <!--表单star-->
            <div class="form-box">
                <div class="form-label">
                    <input type="tel" name="" placeholder="请输入手机号" class="form-input mobile" />
                </div>
                <div class="form-label">
                    <input type="number" name="" placeholder="请输入验证码" class="form-input smaller codes" />
                    <!-- <i class="close_i"></i>
                -->
                    <span class="r_text" id="userLogin_get_vcode">获取验证码</span>
                </div>
                <a href="javascript:void(0)" class="login_btns" disabled="disabled">登录</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //如果是微信中打开的就直接微信登录，避免用户都输入了目的地了又重新登录并再次输入
        /*https://open.weixin.qq.com/connect/oauth2/authorize?
        appid=wx520c15f417810387&
        redirect_uri=https%3A%2F%2Fchong.qq.com%2Fphp%2Findex.php%3Fd%3D%26c%3DwxAdapter%26m%3DmobileDeal%26showwxpaytitle%3D1%26vb2ctag%3D4_2030_5_1194_60&
        response_type=code&
        scope=snsapi_base&
        state=123#wechat_redirect*/
        var uaviua = navigator.userAgent.toLowerCase();
        //判断是否是在微信中打开
        <notpresent name='user_data.weixin_id'>
            if(uaviua.match(/MicroMessenger/i)=="micromessenger") {
                window.location.href = '{$Think.config.WECHAT_APP_LOGIN}?appid={$Think.config.WECHAT_APPID}&redirect_uri={$Think.config.WECHAT_REDIRECT_URI|urlencode}&response_type=code&scope=snsapi_base&state=123#wechat_redirect';
            }
        </notpresent>
        $(function(){
            $('.user_login').click(function(){
                <present name="user_data">
                    window.location.href='__ROOT__/index.php?m=Home&c=My&a=my';
                <else/>
                    if(uaviua.match(/MicroMessenger/i)=="micromessenger") {
                        //执行微信同步登陆
                        window.location.href='{$Think.config.WECHAT_APP_LOGIN}?appid={$Think.config.WECHAT_APPID}&redirect_uri={$Think.config.WECHAT_REDIRECT_URI|urlencode}&response_type=code&scope=snsapi_base&state=123#wechat_redirect';
                    }else{
                        $('.shade3_box').slideDown();
                        $('body').addClass('hidden');
                    }
                </present>
            });
            $('.btn-close-box').click(function(){
                $('.shade3_box').hide();
                $('body,.main_sm').removeClass('hidden');
                window.location.reload();
            });
            $('.form-input').each(function(){
                if($(this).val() ==''){
                    $('.login_btns').removeClass('login_on');
                    $('.login_btns').attr("disabled","disabled")
                    return false;
                }  else{
                    $('.login_btns').addClass('login_on');
                    $('.login_btns').removeAttr("disabled");
                }
            });
            $(".form-input").keyup("input", function() {
                var parents =  $(this).parents('.form-box');
                parents.find('.form-input').each(function(e){
                    if($(this).val() == ''){
                        $('.login_btns').removeClass('login_on');
                        $('.login_btns').attr("disabled","disabled")
                        return false;
                    }
                    $('.login_btns').addClass('login_on');
                    $('.login_btns').removeAttr("disabled");

                });
            });

            $('.login_btns').on('click',function(){
                if($(this).attr('disabled') == 'disabled'){
                    return;
                }else{
                    var mobile = $.trim($('.mobile').val());
                    var codes = $.trim($('.codes').val());
                    var number = /^(1[3578]\d|14[57])[0-9]{8}$/;
                    if(!mobile){
                        layer.open({
                            content: '请填写手机号码',
                            btn: ['确认', '取消']
                        });
                        return false;
                    }else if(!number.test(mobile)){
                        // alert('请输入正确的手机号');
                        layer.open({
                            content: '请输入正确的手机号',
                            btn: ['确认', '取消']
                        });
                    }else if(!codes){
                        layer.open({
                            content: '请填写验证码',
                            btn: ['确认', '取消']
                        });

                        return false;
                    }else{
                        $.ajax({
                            url:'__ROOT__/index.php?m=Home&c=Login&a=login',
                            type:'post',
                            data:{mobile:mobile,vcode:codes},
                            success:function (e){
                                if(e && e!=''){
                                    if(e=='succ'){
                                        /*登陆成功*/
                                        $('.shade3_box').hide();
                                        $('body,.main_sm').removeClass('hidden');
                                        window.location.reload();
                                    }else{
                                        layer.open({
                                            content: e,
                                            btn: ['确认']
                                        });
                                    }
                                }
                            }
                        });
                    }
                }

            });
            var userLogin_get_vcode=document.getElementById('userLogin_get_vcode');
            userLogin_get_vcode.addEventListener('click',isSendVcode);
            function isSendVcode(){
                var mobile = $.trim($('.mobile').val());
                var number = /^(1[3578]\d|14[57])[0-9]{8}$/;
                if (!mobile) {
                    layer.open({
                        content: '请填写手机号码',
                        btn: ['确认', '取消']
                    });
                    return false;
                } else if (!number.test(mobile)) {
                    layer.open({
                        content: '请输入正确的手机号',
                        btn: ['确认', '取消']
                    });
                } else {
                    $.ajax({
                        url: '__ROOT__/index.php?m=Home&c=Login&a=sendValidateCode',
                        type: 'post',
                        data: {mobile: mobile},
                        success: function (e) {
                            if (e && e != '') {
                                userLogin_get_vcode.removeEventListener('click',isSendVcode);
                                var secNum = 60;
                                var secIntNum = setInterval(function () {
                                    secNum--;
                                    if (secNum > 0) {
                                        $('#userLogin_get_vcode').text(secNum);
                                    } else {
                                        $('#userLogin_get_vcode').text('获取验证码');
                                        userLogin_get_vcode.addEventListener('click',isSendVcode);
                                        clearInterval(secIntNum);
                                    }
                                }, 1000);
                                layer.open({
                                    content: e,
                                    skin: 'msg',
                                    time: 2
                                });
                            }
                        }
                    });
                }
            }
        });
    </script>
</div>