<div class="main_sm" id="page_payment2" style="display:none;">
			<div class="list_items"> <i class="arrow_rc"></i>
				应付金额中将包含4元强生电调费用，请您知晓！
			</div>
			<!--乘客列表-->
			<div class="panr_list">

				<ul class="u_panel clearfix">
					<li class="clearfix li_p li_t">
						<label class="icon_label w80 reds">应付金额：</label>
						<input type="number" class="bz_inp" id="payment2_input_user_input" value="" placeholder="请输入应付金额"/>
					</li>
					<li class="clearfix li_p li_t coupons">
						<label class="icon_label">优惠券</label>
						<div class="ins_now fr"><strong id="payment2_strong_coupon_face"><i>{$totalCoupon}</i>张</strong>
							&nbsp;&nbsp;<img src="__PUBLIC__/mgotrip/images/arrow_r1.png" width="10"/>
						</div>
						<input type="hidden" id="payment2_coupon_amount" value="0"/>
						<input type="hidden" id="payment2_coupon_id" value="0"/>
					</li>
					<li class="clearfix li_p li_t">
						<label class="icon_label">实付金额</label>
						<div class="ins_now fr"> <strong><i id="payment2_i_need_pay">0</i>元</strong>
						</div>
					</li>
					<!--<li class="clearfix li_p li_t">
						<label class="icon_label"> <b>需付款</b>
						</label>
						<div class="ins_now fr"> <strong><i>0</i>元</strong>
						</div>
					</li>-->
					<li class="clearfix li_p li_t">
						<label class="icon_label w176">请选择付款方式：</label>
					</li>
					<!-- <li class="clearfix li_p li_t pay_method payment2_li_pay_type">
					<img src="images/img_unipay.png" />
					<strong>银联支付</strong>
					<input type="radio" name="" class="radio" /> <em class="checkbox_em"></em>
				</li>
				-->
				<!--<li class="clearfix li_p li_t pay_method payment2_li_pay_type">
					<img src="__PUBLIC__/mgotrip/images/img_weipay.png" /> <strong>微信支付</strong>
					<input type="radio" name="" class="radio" /> <em class="checkbox_no"></em>
				</li>-->
				<li class="clearfix li_p li_t pay_method payment2_li_pay_type on" pay_type="{$Think.config.PAY_TYPE_ZHIFUBAO}">
					<img src="__PUBLIC__/mgotrip/images/img_alipay.png" />
					<strong>支付宝支付</strong>
					<input type="radio" name="" class="radio" />
					<em class="checkbox_no"></em>
				</li>
					<input type="hidden" id="payment2_hidden_pay_type"  value="{$Think.config.PAY_TYPE_ZHIFUBAO}"/>
			</ul>
		</div>

		<div class="m_next_step" style="overflow:hidden;">
			<a href="javascript:void(0);" id="payment2_a_cancel" class="pay_btn30s both_float" style="border:1px solid #4c4c4c;width:40%;margin:0 5% 0;background-color:#4c4c4c;color:#fff;">取消</a>
			<a href="javascript:void(0);" id="payment2_a_pay" class="pay_btn30s both_float" style="width:40%;margin:0 5% 0;">支付</a>
		</div>
	</div>
	<!--优惠券-->
	<div class="shade4_box yhq_box">
		<div class="div_wh">
			<div class="m_d selects">
				<h3>选择优惠券 <span id="payment2_span_cancel_coupon" style="display:block;float:right;margin:0 20px;">取消</span></h3>
				<ul class="ul_panels" id="payment2_ul_coupon_list">
					<present name="coupinList">
						<foreach name="coupinList" item="row">
							<li coupon_id="{$row->id}" coupon_amount="{$row->amount}">{$row->name}</li>
						</foreach>
					</present>

				</ul>
			</div>
		</div>
	</div>
<script type="text/javascript">
	$(function(){
		//隐藏优惠券列表
		$('#payment2_span_cancel_coupon').click(function(){
			$('.shade4_box').slideUp();
		});
		//获取优惠券列表
		$('.coupons').click(function(){
			$('.shade4_box').slideDown();
			//$('body,.main_sm').addClass('hidden');
		})
		//支付方式
		$('.u_panel li.pay_method').click(function(){
			$(this).addClass('on').siblings().removeClass('on');
			$('#payment2_hidden_pay_type').val($(this).attr('pay_type'));
		});
		//选优惠券
		$('#payment2_ul_coupon_list li').click(function(){
			var id=$(this).attr('coupon_id');
			var amount=parseInt($(this).attr('coupon_amount'));
			$('#payment2_strong_coupon_face').text('-'+amount*0.01);
			$('#payment2_coupon_amount').val(amount*0.01);
			$('#payment2_coupon_id').val(id);
			$('.shade4_box').hide();
			var userNum=parseInt($('#payment2_input_user_input').val());
			if(userNum!=NaN && userNum!=0 && amount!=NaN){
				var couponNum=amount*0.01;
				if(userNum>=couponNum){
					$('#payment2_i_need_pay').text(userNum-couponNum);
				}else{
					$('#payment2_i_need_pay').text(0);
				}
			}
		});
		//计算实付金额
		$('#payment2_input_user_input').keyup(function (){
			var userNum=parseInt($(this).val());
			var couponNum=parseInt($('#payment2_coupon_amount').val());
			if(userNum !=NaN && couponNum!=NaN){
				if(userNum>=couponNum){
					$('#payment2_i_need_pay').text(userNum-couponNum);
				}else{
					$('#payment2_i_need_pay').text(0);
				}
			}
		});
		//点击取消
		$('#payment2_a_cancel').click(function (){
			$('#page_payment2').hide();
			$('#takeTaxi_show_driver_info').show();
		});
		//点击支付
		$('#payment2_a_pay').click(function (){
			createLoadingLayer();
			comfirmPay();
		});
		function comfirmPay(){
			var post_user_amount=$('#payment2_input_user_input').val();
			var post_pay_type=$('.payment2_li_pay_type.on').attr('pay_type');
			var post_coupon_id=$('#payment2_coupon_id').val();
			var post_order_no=$('#takeTaxi_input_order_no').val();
			if(post_user_amount.length==0 || post_user_amount<=0){
				layer.closeAll();
				return layer.open({
					content:'应付金额必须填写且必须大于0',
					btn:'确定'
				});
			}
			if(post_pay_type!=0 && post_order_no!=0){
				$.ajax({
					url:'__ROOT__/index.php?m=Home&c=Taxi&a=payCarFareOnLine',
					type:'post',
					data:{
						userAmount:post_user_amount,
						payType:post_pay_type,
						couponId:post_coupon_id,
						orderNo:post_order_no
					},
					success:function(e){
						if(e && e!=''){
							if(e=='orderComplete'){
								layer.open({
									content:'订单完成',
									btn:['确定'],
									yes:function(){
										window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder&status=2';
									}
								});
							}else{
								window.location.href=e;
							}
						}else{
							layer.closeAll();
							layer.open({
								content:'支付失败，再试一次',
								btn:['再试一次','前往订单中心'],
								yes:function(){
									comfirmPay();
								},
								no:function(){
									window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
								}
							});
						}
					}
				});
			}else{
				layer.closeAll();
				layer.open({
					content:'错误！',
					btn:'确定',
					yes:function(){
						window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
					}
				});
			}

		}
	});
</script>
</div>
