<div class="main_sm" id="page_payment2" style="display:none;">
			<div class="list_items"> <i class="arrow_rc"></i>
				应付金额中将包含4元强生电调费用，请您知晓！
			</div>
			<!--乘客列表-->
			<div class="panr_list">

				<ul class="u_panel clearfix">
					<li class="clearfix li_p li_t">
						<label class="icon_label w80 reds">应付金额：</label>
						<input type="number" class="bz_inp" id="payment2_input_user_input" value="" placeholder="请输入应付金额"/>
					</li>
					<li class="clearfix li_p li_t coupons">
						<label class="icon_label">优惠券</label>
						<div class="ins_now fr"><strong id="payment2_strong_coupon_face"><i>{$totalCoupon}</i>张</strong>
							&nbsp;&nbsp;<img src="__PUBLIC__/mgotrip/images/arrow_r1.png" width="10"/>
						</div>
						<input type="hidden" id="payment2_coupon_id" value=""/>
					</li>
					<li class="clearfix li_p li_t">
						<label class="icon_label">实付金额</label>
						<div class="ins_now fr"> <strong><i id="payment2_i_need_pay">0</i>元</strong>
						</div>
					</li>
					<!--<li class="clearfix li_p li_t">
						<label class="icon_label"> <b>需付款</b>
						</label>
						<div class="ins_now fr"> <strong><i>0</i>元</strong>
						</div>
					</li>-->
					<li class="clearfix li_p li_t">
						<label class="icon_label w176">请选择付款方式：</label>
					</li>
					<!-- <li class="clearfix li_p li_t pay_method payment2_li_pay_type">
					<img src="images/img_unipay.png" />
					<strong>银联支付</strong>
					<input type="radio" name="" class="radio" /> <em class="checkbox_em"></em>
				</li>
				-->
				<!--<li class="clearfix li_p li_t pay_method payment2_li_pay_type">
					<img src="__PUBLIC__/mgotrip/images/img_weipay.png" /> <strong>微信支付</strong>
					<input type="radio" name="" class="radio" /> <em class="checkbox_no"></em>
				</li>-->
				<li class="clearfix li_p li_t pay_method payment2_li_pay_type on" pay_type="{$Think.config.PAY_TYPE_ZHIFUBAO}">
					<img src="__PUBLIC__/mgotrip/images/img_alipay.png" />
					<strong>支付宝支付</strong>
					<input type="radio" name="" class="radio" />
					<em class="checkbox_no"></em>
				</li>
					<input type="hidden" id="payment2_hidden_pay_type"  value="{$Think.config.PAY_TYPE_ZHIFUBAO}"/>
			</ul>
		</div>

		<div class="m_next_step" style="overflow:hidden;">
			<a href="javascript:void(0);" id="payment2_a_cancel" class="pay_btn30s both_float" style="border:1px solid #4c4c4c;width:40%;margin:0 5% 0;background-color:#4c4c4c;color:#fff;">取消</a>
			<a href="javascript:void(0);" id="payment2_a_pay" class="pay_btn30s both_float" style="width:40%;margin:0 5% 0;">支付</a>
		</div>
	</div>
	<!--优惠券
	<div class="shade4_box yhq_box">
		<div class="div_wh">
			<div class="m_d selects">
				<h3>选择优惠券 <span id="payment2_span_cancel_coupon" style="display:block;float:right;margin:0 20px;">取消</span></h3>
				<ul class="ul_panels" id="payment2_ul_coupon_list">
					<present name="coupinList">
						<foreach name="coupinList" item="row">
							<li coupon_id="{$row->id}" coupon_amount="{$row->amount}">{$row->name}</li>
						</foreach>
					</present>

				</ul>
			</div>
		</div>
	</div>-->
<!--优惠券-->
<div class="have_s" style="display: none;">
	<header class="head_bar">
		<a href="javascript:void(0)" class="arrow_r" id="payment2_span_cancel_coupon"></a>
		<span class="c_txt">优惠券</span>
	</header>
	<!--魔购头部-->
	<section class="content">
		<div class="div-box p_div">
			<ul class="ul-litems" id="payment2_ul_coupon_list">
				<present name="coupinList">
					<foreach name="coupinList" item="row">
						<li>
							<label>
								<input type="checkbox" coupon_id="{$row->id}" coupon_amount="{$row->amount}" rel="1" value="1" style="vertical-align: middle;display: none;" name="checkbox" class="chk_1 jdcheckbox1 checkAll" />
								<i class="on"></i>
						<span class="prices_x">
							<strong>{$row->amount/100}</strong>
							元
						</span>
								<div class="fr div_point">
									<span class="p_bigs">{$row->name}</span>
									<div class="div_contents">
										<p class="man">满{$row->min_order_amount?$row->min_order_amount:0}元可用</p>
										<p class="man">有效期至{$row->use_end_date}</p>
									</div>
								</div>
							</label>
						</li>
					</foreach>
				</present>
			</ul>
		</div>
		<div class="h97"></div>
	</section>
	<div class="div_fixeb">
		<label>
			<input type="checkbox" onclick="quxuan()" value="1" style="vertical-align: middle;display: none;" name="checkbox" id="selected"  class="chk_1 onselect checkAll" />
			<i class="quanxuan"></i>
			全选
		</label>
<span class="span_text3">
	共计：
	<strong>-￥<span id="payment2_span_totalNum">0</span></strong>
</span>
		<a href="javascript:void(0)" class="confirm_btn" id="payment2_a_confirm_coupon">确定</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		//隐藏优惠券列表
		$('#payment2_span_cancel_coupon').click(function(){
			$('.have_s').slideUp();
			$('body,.main_sm').removeClass('hidden');
		});
		$('.coupons').click(function(){
			$('.have_s').slideDown();
			$('body,.main_sm').addClass('hidden');
		});
		//点击优惠券选择的确定按钮
		$('#payment2_a_confirm_coupon').click(function(){
			//获取优惠金额
			var totalNum=parseInt($('#payment2_span_totalNum').text());
			//生成付款栏优惠金额信息
			$('#payment2_strong_coupon_face').text('-'+totalNum);
			//获取用户输入金额，并转换为整形
			var userNum=parseInt($('#payment2_input_user_input').val());
			//用户输入合法金额，且优惠券能减免时，计算实付金额
			if(userNum!=NaN && userNum!=0 && totalNum!=NaN){
				if(userNum>=totalNum){
					$('#payment2_i_need_pay').text(userNum-totalNum);
				}else{
					$('#payment2_i_need_pay').text(0);
				}
			}
			$('.have_s').slideUp();
			$('body,.main_sm').removeClass('hidden');
		});
		//优惠券单选
		$(".jdcheckbox1").click(function(){
			var id='';
			var amount=0;
			if($(this).prop('checked') == false){
				//去除勾选
				$(this).next('.on').removeClass('selected');
				$(this).attr('checked',false);
				//重新计算共计金额，并重新存储优惠券id
				$(".jdcheckbox1").each(function(){
					if($(this).prop('checked')==true){
						if(id==''){
							id+=$(this).attr('coupon_id');
							amount+=parseInt($(this).attr('coupon_amount'));
						}else{
							id+=','+$(this).attr('coupon_id');
							amount+=parseInt($(this).attr('coupon_amount'));
						}
					}
				});
				//重新生成共计金额
				$('#payment2_span_totalNum').text(amount*0.01);
				//重新生成优惠券ID
				$('#payment2_coupon_id').val(id);
			}else{
				//勾选
				$(this).next('.on').addClass('selected');
				$(this).attr('checked',true);
				//重新计算共计金额，并重新存储优惠券id
				$(".jdcheckbox1").each(function(){
					if($(this).prop('checked')==true){
						if(id==''){
							id+=$(this).attr('coupon_id');
							amount+=parseInt($(this).attr('coupon_amount'));
						}else{
							id+=','+$(this).attr('coupon_id');
							amount+=parseInt($(this).attr('coupon_amount'));
						}
					}
				});
				//重新生成共计金额
				$('#payment2_span_totalNum').text(amount*0.01);
				//重新生成优惠券ID
				$('#payment2_coupon_id').val(id);
			}
			var parents = $('.ul-litems');
			var m = 0;
			parents.find('.jdcheckbox1').each(function(){
				if($(this).prop('checked') == false){
					m++;
				}
			})
			if(m++){
				$('.div_fixeb').find('.quanxuan').removeClass('selected');
				$('.div_fixeb').find(".checkAll").attr("checked",false);
			}else{
				$('.div_fixeb').find('.quanxuan').addClass('selected');
				$('.div_fixeb').find(".checkAll").attr("checked",true);
			}
		});
		//支付方式
		$('.u_panel li.pay_method').click(function(){
			$(this).addClass('on').siblings().removeClass('on');
			$('#payment2_hidden_pay_type').val($(this).attr('pay_type'));
		});
		//计算实付金额
		$('#payment2_input_user_input').keyup(function (){
			var userNum=parseInt($(this).val());
			//获取优惠金额
			var totalNum=parseInt($('#payment2_span_totalNum').text());
			if(userNum !=NaN && totalNum!=NaN){
				if(userNum>=totalNum){
					$('#payment2_i_need_pay').text(userNum-totalNum);
				}else{
					$('#payment2_i_need_pay').text(0);
				}
			}
		});
		//点击取消
		$('#payment2_a_cancel').click(function (){
			$('#page_payment2').hide();
			$('#takeTaxi_show_driver_info').show();
		});
		//点击支付
		$('#payment2_a_pay').click(function (){
			createLoadingLayer();
			comfirmPay();
		});
		function comfirmPay(){
			var post_user_amount=$('#payment2_input_user_input').val();
			var post_pay_type=$('.payment2_li_pay_type.on').attr('pay_type');
			var post_coupon_id=$('#payment2_coupon_id').val();
			var post_order_no=$('#takeTaxi_input_order_no').val();
			if(post_user_amount.length==0 || post_user_amount<=0){
				layer.closeAll();
				return layer.open({
					content:'应付金额必须填写且必须大于0',
					btn:'确定'
				});
			}
			if(post_pay_type!=0 && post_order_no!=0){
				$.ajax({
					url:'__ROOT__/index.php?m=Home&c=Taxi&a=payCarFareOnLine',
					type:'post',
					data:{
						userAmount:post_user_amount,
						payType:post_pay_type,
						couponId:post_coupon_id,
						orderNo:post_order_no
					},
					success:function(e){
						if(e && e!=''){
							if(e=='orderComplete'){
								layer.open({
									content:'订单完成',
									btn:['确定'],
									yes:function(){
										window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder&status=2';
									}
								});
							}else{
								window.location.href=e;
							}
						}else{
							layer.closeAll();
							layer.open({
								content:'支付失败，再试一次',
								btn:['再试一次','前往订单中心'],
								yes:function(){
									comfirmPay();
								},
								no:function(){
									window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
								}
							});
						}
					}
				});
			}else{
				layer.closeAll();
				layer.open({
					content:'错误！',
					btn:'确定',
					yes:function(){
						window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
					}
				});
			}

		}
	});
	//全选
	function quxuan(){
		var id='';
		var amount=0;
		if($('#selected').is(':checked')){
			$('.ul-litems').find('.on').addClass('selected');
			$('.quanxuan').addClass('selected');
			$('#selected').attr("checked",true);
			$('.ul-litems').find(".jdcheckbox1").attr("checked",true);
			//重新计算共计金额，并重新存储优惠券id
			$(".jdcheckbox1").each(function(){
				if($(this).prop('checked')==true){
					if(id==''){
						id+=$(this).attr('coupon_id');
						amount+=parseInt($(this).attr('coupon_amount'));
					}else{
						id+=','+$(this).attr('coupon_id');
						amount+=parseInt($(this).attr('coupon_amount'));
					}
				}
			});
			//重新生成共计金额
			$('#payment2_span_totalNum').text(amount*0.01);
			//重新生成优惠券ID
			$('#payment2_coupon_id').val(id);
		}else{
			$('.ul-litems').find('.on').removeClass('selected');
			$('#selected').attr("checked",false);
			$('.quanxuan').removeClass('selected');
			$('.ul-litems').find(".jdcheckbox1").attr("checked",false);
			//重新计算共计金额，并重新存储优惠券id
			//重新生成共计金额
			$('#payment2_span_totalNum').text(0);
			//重新生成优惠券ID
			$('#payment2_coupon_id').val('');
		}
	}
</script>
</div>
