<div class="main_sm" id="page_takeTaxi2" style="display:none;">
	<!--乘客列表-->
	<div class="panr_list">
		<ul class="u_panel clearfix">
			<li class="clearfix li_p li_t">
				<label class="icon_label">司机姓名：</label>
				<div class="ins_now" id="takeTaxi2_driver_name"></div>
			</li>
			<li class="clearfix li_p li_t">
				<label class="icon_label">车牌号码：</label>
				<div class="ins_now" id="takeTaxi2_car_no"></div>
			</li>
			<li class="clearfix li_p li_t">
				<label class="icon_label">联系电话：</label>
				<div class="ins_now" id="takeTaxi2_driver_phone"></div>
			</li>
		</ul>
		<div class="m_xtips"> <i class="tip30s"></i>
			如您预约后成功搭乘，车费中还将包含4元强生电调费用
		</div>
	</div>

	<div class="m_next_step" style="overflow:hidden;"><!--tel:13671891111-->
		<a href="javascript:void(0);" class="pay_btn30s both_float" id="takeTaxi2_hidden_button" style="border:1px solid #4c4c4c;width:40%;margin:0 5% 0;background-color:#4c4c4c;color:#fff;">收起</a>
		<a href="javascript:void(0);" class="pay_btn30s both_float" id="takeTaxi2_call_button" style="width:40%;margin:0 5% 0;"><i class="tel_btn"></i>呼叫</a>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#takeTaxi2_hidden_button').click(function(){
				$('#page_takeTaxi2').hide();
				$('#takeTaxi_show_driver_info').show();
			});
			$('#takeTaxi_show_driver_info').click(function(){
				$('#page_takeTaxi2').show();
				$('#takeTaxi_show_driver_info').hide();
			});
		});
	</script>
</div>
