<div class="main_sm" id="page_takeTaxi2" style="display:none;">
	<!--乘客列表-->
	<div class="panr_list">
		<ul class="u_panel clearfix">
			<li class="clearfix li_p li_t">
				<label class="icon_label">司机姓名：</label>
				<div class="ins_now" id="takeTaxi2_driver_name"></div>
			</li>
			<li class="clearfix li_p li_t">
				<label class="icon_label">车牌号码：</label>
				<div class="ins_now" id="takeTaxi2_car_no"></div>
			</li>
			<li class="clearfix li_p li_t">
				<label class="icon_label">联系电话：</label>
				<div class="ins_now" id="takeTaxi2_driver_phone"></div>
			</li>
		</ul>
		<div class="m_xtips"> <i class="tip30s"></i>
			如您预约后成功搭乘，车费中还将包含4元强生电调费用
		</div>
	</div>

	<div class="m_next_step"><!--tel:13671891111-->
		<a href="javascript:void(0);" class="pay_btn30s" id="takeTaxi2_call_button" ><i class="tel_btn"></i>呼叫</a>
	</div>
	<script type="text/javascript">
		$(function(){

		});
	</script>
</div>
