<!DOCTYPE html>
<html lang="zh-CN">
	<title>魔购出行（M-GO）</title>
	<meta name="keywords" />
	<meta name="description"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width ,initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<include file="Public/cite"/>
	<style type="text/css">
		.both_float{
			float:left;
		}
		.pay_style{
			background: none;
			position: absolute;
			bottom: 54px;
			left: 0;
			width: 100%;
			overflow: auto;
			padding:8px 15px 0;
			z-index: 3;
			position: relative;
			box-sizing: border-box;
		}
		.pay_style a{
			background: #ffc300;
			font-weight: bold;
			border-radius: 3px;
			border:1px solid #edb80a;
			color: #212121;
			font: 18px Microsoft YaHei;
			text-align: center;
			padding:5px 0;
			display: block;
			width:45%;
			color:#fff;
		}
	</style>
<body>
<header class="head_bar">
	<a href="javascript:void(0)" class="arrow_canel" id="takeTaxi_cancel_call_taxi">取消叫车</a>
	<span class="c_txt">等待回应</span>
	<!--<a href="javascript:void(0)" class="user_login"></a>-->
</header>
<!--魔购头部-->
<div class="main_sm" id="takeTaxi_show_driver_info" style="background:none;display:none;box-shadow:0;">
	<a href="javascript:void(0);" class="pay_btn30s" style="color:#fff;">车辆信息</a>
</div><!--魔购出行 star-->
<div class="mgo_map_index" >
	<div id="takeTaxi_baidumap" style="height:100%;"></div>
	<div class="shade30s_box" id="takeTaxi_div_count_down" style="display:none;">
		<div class="tips_texts">
			正在为您搜索
			<br />
			附近1公里内出租车
			<br />
			请耐心等待
			<br />
			<p class="timeout"></p>
		</div>
	</div>

	<div class="pay_style" id="takeTaxi_div_pay_method" style="overflow:hidden;display:none;">
		<a href="javascript:void(0);" id="takeTaxi_cash_pay" class="both_float"  style="margin-right:5%;border:1px solid #4c4c4c;background-color:#4c4c4c;">现金支付</a>
		<a href="javascript:void(0);" id="takeTaxi_online_pay" class="both_float"  style="margin-left:5%;">在线支付</a>
	</div>
</div>
<!--加载take_taxi2.html页面-->
<include file="Taxi/take_taxi2" />

<!--加载payment2.html页面-->
<include file="Taxi/payment2" />
<input type="hidden" id="takeTaxi_input_order_no" value="0"/>
<script type="text/javascript">
	/*兼容 横竖屏切换操作*/
	function hengshuping(){
		$('.mgo_map_index').height(screen.height);
		$('.mgo_map_index').width(screen.width);
		setPayDivIcon();
	}
	window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", hengshuping, false);
	//切换屏幕时，重定位支付按钮的位置
	function setPayDivIcon(){
		var ww=document.getElementById('takeTaxi_baidumap').offsetWidth;
		var wh=document.getElementById('takeTaxi_baidumap').offsetHeight;
		var takeTaxi_div_pay_method=document.getElementById('takeTaxi_div_pay_method');
		takeTaxi_div_pay_method.width=ww;
		takeTaxi_div_pay_method.height=(wh*0.05 < 54)?wh*0.05:54;
		var iw=takeTaxi_div_pay_method.width;
		var ih=takeTaxi_div_pay_method.height;
		takeTaxi_div_pay_method.style.position='absolute';
		takeTaxi_div_pay_method.style.bottom=wh*0.2+'px';
		takeTaxi_div_pay_method.style.left=0;
	}
	//优先处理
	var  btn_countDown='';
	var  btn_sendTaxi='';
	var  btn_firstSetCurrent='';
	var  btn_secondSetCurrent='';
	var  orderNo='';

	createLoadingLayer();
	getCountDownInfo();//开启倒计时


	//生成定位地图
	var map= new BMap.Map('takeTaxi_baidumap');
	map.centerAndZoom('{$currentCity}',15);
	map.enableScrollWheelZoom(true);
	map.disableInertialDragging();

	//获取起始和目的地位置
	var startToEndPosition=JSON.parse('{$Think.cookie.startToEndPosition}');
	var sPoint=new BMap.Point(startToEndPosition.sLng,startToEndPosition.sLat);
	var ePoint=new BMap.Point(startToEndPosition.eLng,startToEndPosition.eLat);

	var sIcon=new BMap.Icon('__PUBLIC__/mgotrip/images/start.png',new BMap.Size(20,20),{imageOffset: new BMap.Size(0,0)});
	var eIcon=new BMap.Icon('__PUBLIC__/mgotrip/images/end.png',new BMap.Size(20,20),{imageOffset: new BMap.Size(0,0)});

	var sMarker=new BMap.Marker(sPoint,{icon:sIcon});
	//map.addOverlay(sMarker);
	var eMarker=new BMap.Marker(ePoint,{icon:eIcon});
	//map.addOverlay(eMarker);

	//var geoc=new BMap.Geocoder();
	var geolocation=new BMap.Geolocation();

	var meIcon=new BMap.Icon('__PUBLIC__/mgotrip/images/me.png',new BMap.Size(20,20),{imageOffset: new BMap.Size(0, 0)});
	var carIcon=new BMap.Icon('__PUBLIC__/mgotrip/images/car.png',new BMap.Size(13.5,34.5),{imageOffset: new BMap.Size(0, 0)});

	var meMarker='';
	var carMarker='';
	geolocation.getCurrentPosition(function (r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			map.centerAndZoom(r.point,15);
			meMarker=new BMap.Marker(r.point,{icon:meIcon});
			//map.addOverlay(meMarker);

			//map.panTo(r.point);
			/*geoc.getLocation(r.point,function(ci){
			 var addrinfo=ci.addressComponents;
			 var firstMsg=addrinfo.province+addrinfo.city+addrinfo.district+addrinfo.street+addrinfo.streetNumber;
			 });*/
		}else{
			layer.open({
				content:'当前位置获取失败，点击刷新',
				btn:['确定'],
				yes:function (){
					window.location.reload();
				}
			});
		}
	},{enableHighAccuracy:true});

	btn_firstSetCurrent=setInterval(function (){
		geolocation.getCurrentPosition(function (r){
			if(this.getStatus() == BMAP_STATUS_SUCCESS){
				meMarker.setPosition(r.point);
				map.panTo(r.point);
			}
		},{enableHighAccuracy:true});
	},10000);


	//请求派车准备阶段，倒计时接口
	function getCountDownInfo(){
		$.ajax({
			url:'__ROOT__/index.php?m=Home&c=Taxi&a=getInfoForWaitTaxi',
			success:function (e){
				if(e && e!=''){
					layer.closeAll();
					var data=JSON.parse(e);
					orderNo=data.order_no;
					isSendTaxi(orderNo);
					var countDown=data.time_remaining;
					beginCountDown(countDown);
					//保存订单号到页面上
					$('#takeTaxi_input_order_no').val(orderNo);
				}else{
					layer.closeAll();
					$('#takeTaxi_div_count_down').hide();
					layer.open({
						content:'到车时间获取失败，重新获取',
						btn:['确定','返回'],
						yes:function (){
							createLoadingLayer();
							getCountDownInfo();
						},
						no:function (){
							createLoadingLayer();
							window.location.href='__ROOT__/index.php?m=Home&c=Index&a=index';
						}
					});
				}
			}
		});
	}
	//每10秒请求一次派车信息查询接口，判断是否已经派车
	function isSendTaxi(no){
		btn_sendTaxi=setInterval(function(){
			$.ajax({
				url:'__ROOT__/index.php?m=Home&c=Taxi&a=queryTaxiIsCome',
				type:'post',
				data:{orderNo:no},
				success:function (e){
					if(e && e!=''){
						//有车来了
						var data=JSON.parse(e);
						$('#takeTaxi2_driver_name').text(data.driver_name);
						$('#takeTaxi2_car_no').text(data.car_no);
						$('#takeTaxi2_driver_phone').text(data.mdt_phone);
						$('#takeTaxi2_call_button').attr('href','tel:'+data.mdt_phone);

						//计算出租车与起点的信息
						var carLng=data.current_lo;
						var carLat=data.current_la;
						var carPoint=new BMap.Point(carLng,carLat);
						carMarker=new BMap.Marker(carPoint,{icon:carIcon});

						var outputtime='';
						var outputdistance='';
						var searchComplete = function (results){
							if (transit.getStatus() != BMAP_STATUS_SUCCESS){
								return ;
							}
							var plan = results.getPlan(0);
							outputtime= plan.getDuration(true);                //获取时间
							outputdistance= plan.getDistance(true);             //获取距离
						}
						var transit = new BMap.DrivingRoute(map, {
							renderOptions: {map: map,autoViewport:true},
							onSearchComplete: searchComplete,
							onPolylinesSet: function(){
								setTimeout(function(){
									$('#takeTaxi_div_count_down').hide();
									$('#page_takeTaxi2').show();
									clearInterval(btn_countDown);
									clearInterval(btn_sendTaxi);
									clearInterval(btn_firstSetCurrent);
									layer.open({
										content:'您喊的车将在'+outputtime+'内到达,总路程为：'+outputdistance,
										btn:'确定'
									});
									map.clearOverlays();
									map.addOverlay(meMarker);
									map.addOverlay(carMarker);
									map.addOverlay(sMarker);
									map.addOverlay(eMarker);

									$('#takeTaxi_div_pay_method').show();
									//以客人当前位置为中心点，司机位置每10秒移动一次，
									//客人位置也是每10秒panTo一次，
									getDriverPosition(no);
								},1000);
							}
						});
						transit.search(carPoint,sPoint);
					}
				}
			});
		},10000);
	}
	//获取司机位置，并移动
	function getDriverPosition(no){
		btn_secondSetCurrent=setInterval(function(){
			$.ajax({
				url: '__ROOT__/index.php?m=Home&c=Taxi&a=queryTaxiIsCome',
				type: 'post',
				data: {orderNo: no},
				success: function (e) {
					if (e && e != '') {
						var datas=JSON.parse(e);
						var carLngs=datas.current_lo;
						var carLats=datas.current_la;
						var carPoints=new BMap.Point(carLngs,carLats);

						carMarker.setPosition(carPoints);
						geolocation.getCurrentPosition(function (r){
							if(this.getStatus() == BMAP_STATUS_SUCCESS){
								meMarker.setPosition(r.point);
								map.panTo(r.point);
							}
						},{enableHighAccuracy:true});

						//var distance=map.getDistance(carPoints,ePoint);
					}
				}
			});
		},10000);
	}
	//开启倒计时提示
	function beginCountDown(cd){
		//倒计时
		layer.closeAll();
		$('#takeTaxi_div_count_down').show();
		var num=cd;
		btn_countDown=setInterval(function(){
			--num;
			if(num >= 0){
				return $('.timeout').html(num+'秒');
			}else{
				//倒计时已经结束，此次没有喊到车，再喊一次吧
				clearInterval(btn_countDown);
				clearInterval(btn_sendTaxi);
				$('#takeTaxi_div_count_down').hide();
				layer.open({
					content:'目前无人接单，清稍后再试',
					btn:'确定',
					yes:function (){
						window.location.href='__ROOT__/index.php?m=Home&c=Index&a=index';
					}
				})
			}
		},1000);
	}
	//取消叫车
	$('#takeTaxi_cancel_call_taxi').click(function(){
		layer.open({
			content: '现在取消，<span style="color:#cf0000">预约费用</span>不再返回哦！',
			btn: ['继续等待', '忍痛放弃'],
			no: function(index, layero){
				layer.open({
					content:'确定取消订单？',
					btn:['确定取消','不取消了'],
					yes:function (index){
						createLoadingLayer();
						requestCancelCall();
					}
				});
			  }
		});
	});
	//请求取消叫车接口
	function requestCancelCall(){
		$.ajax({
			url:'__ROOT__/index.php?m=Home&c=Taxi&a=taxiOrderCancel',
			type:'post',
			data:{orderNo:orderNo},
			success:function (e){
				if(e && e!=''){
					//取消成功
					var isRefund=JSON.parse(e);
					if(isRefund==1){
						//已退服务费
						layer.closeAll();
						layer.open({
							content:'服务费已经退还到您的账户',
							btn:['确定'],
							yes:function (index){
								window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
							}
						});
					}else{
						//不退服务费
						window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
					}
				}else{
					//取消失败
					layer.closeAll();
					layer.open({
						content:'请求失败，点击再试一次',
						btn:['再试一次','不取消了'],
						yes:function (index){
							requestCancelCall();
						}
					});
				}
			}
		});
	}
	//点击现金支付
	$('#takeTaxi_cash_pay').click(function (){
		layer.open({
			content:'是否现金支付',
			btn:['确定','取消'],
			yes:function(){
				comfirmPayCash();
			}
		});
	});
	function comfirmPayCash(){
		var post_order_no=$('#takeTaxi_input_order_no').val();
		if(post_order_no!=0){
			//呈现加载中动画
			layer.closeAll();
			createLoadingLayer();
			$.ajax({
				url:'__ROOT__/index.php?m=Home&c=Taxi&a=payWithCash',
				type:'post',
				data:{
					orderNo:post_order_no
				},
				success:function(e){
					if(e && e!=''){
						layer.closeAll();
						window.location.href=e;
					}else{
						layer.closeAll();
						layer.open({
							content:'操作失败，再试一次',
							btn:['再试一次','前往订单中心'],
							yes:function(){
								comfirmPayCash();
							},
							no:function(){
								window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
							}
						});
					}
				}
			});
		}else{
			layer.open({
				content:'错误！前往订单中心操作',
				btn:'确定',
				yes:function(){
					window.location.href='__ROOT__/index.php?m=Home&c=Order&a=myOrder';
				}
			});
		}
	}
	//点击在线支付
	$('#takeTaxi_online_pay').click(function (){
		$('#page_takeTaxi2').hide();
		$('#takeTaxi_show_driver_info').hide();
		$('#page_payment2').show();
	});
	</script>
</body>
</html>