/*#dxlMOrderLayer {width: 100%; background: #fff; background-size: 100% 41px;min-height: 41px; border-bottom: 1px solid #bfbfbf; border-width: 0 0 1px 0;}*/
/*#dxlMOrderLayer .dxlFrameMain {position: relative; }*/
/*#dxlMOrderLayer .dfa_title {color: #666; text-align: center; position: relative; height: 41px; line-height: 41px; font-size: 17px; margin: 0 auto; font-weight: bold;}*/
/*.closeDialog{position:absolute; left:12px; top: 6px; color: #666; display: inline-block; font-size: 24px; font-family: 'iconfont'}*/
/*.closeDialog:before{content: '\e655'}*/
.help{position:absolute; right: 12px; top: 0px; line-height: 41px; height: 41px; font-size: 14px;}
/*header*/
.con_top .con_text3{color: #fff;background: #646464; display: inline-block; width: 100%; height: 33px; line-height: 33px; text-align: center; font-size: 12px;}
.tool_bar{height: 33px; line-height: 33px; margin-bottom: 0px; width: 100%; padding:0px 15px; background: #fff; border-bottom: 1px solid #cacacb;box-sizing: border-box;-webkit-box-sizing: border-box;}
.order_num strong{font-size: 15px; color: #646464;font-family: Arial;}
.fl{float: left;}
.fr{float: right;}
.time_arrow{background: url(../img/time_icon.png) no-repeat; width: 15px; height: 15px; display: inline-block; vertical-align: middle; margin-right: 5px; background-size: 15px 15px;}
.pay_box{margin: 10px 0;}
.tb{background: url(../img/icon_xx_y.png) repeat-x; height: 30px; line-height: 30px; border-top:1px solid #cacacb;border-bottom:2px solid #cacacb; padding:0px 15px;}
.tb .on1{background: url(../img/icon_01.png) no-repeat; width: 13px; height: 13px; display: inline-block; background-size:13px 13px; padding-right: 2px;}
.pay_text{font-size: 14px;}
.pay_text strong{color: #c8102e; font-size: 11px;}
.panel_pay{background: #fff; padding:20px 15px; border-bottom: 1px solid #cacacb}
.panel_ul li{margin-bottom: 8px;}
.panel_ul li span{font-size: 14px;}
.m_t{margin-top: 20px;}
.img_list{margin-left: 10px;}
.panel_ul li span.red{color: #c8102e; font-family: Arial;}
.put_box{border:1px solid #ddd; padding:5px 0px; text-indent: 5px; width: 200px; border-radius: 3px;}
.img_list img{width: 77px; height: 58px; background-size: 77px 58px;}
.panel_d{height: 42px; line-height: 42px;text-align: right;background: #fff; border-top: 1px solid #cacacb; width: 100%; position: fixed; bottom: 0px; left: 0px;}
.panel_d .pay_e{ font-size: 14px; display: inline-block; width: 100%;}
.pay_span b{font-weight: normal; color: #333;}
.pay_span em{font-size: 12px;}
.pay_span{color: #bf1e2e; padding-right: 10px;}
.btn100s{background: #bf1e2e; width: 30%; height: 42px;font-size: 17px; display: inline-block; color: #fff; text-align: center; }

.shade_box{background: #000; opacity: 0.5; height: 100%; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000001;} 
.div_vbox{width: 90%; position: absolute; padding:20px 0px; height: auto; background: #fff; border:1px solid #ddd; border-radius: 8px; top: 15%;z-index: 1000002; left: 50%; margin-left:-45%;}
.btn100s2{background: #c8102e; height: 44px; line-height: 44px; color: #fff; text-align: center; width: 90%; margin: 30px auto 0; border-radius: 5px; font-size: 17px; display: block;}
.top_bar4{text-align: center; font-size: 17px; position: relative; border-bottom: 1px solid #ddd; padding-bottom: 20px;}
.top_bar4 .i_btn3{background: url(../img/iclose_btn.png) no-repeat; width: 22px; height: 23px; background-size: 22px 23px; display: inline-block; position: absolute; right: 10px; top: -13px;}
#loginByPWD{padding-top:20px;}
.check_true {background: url(../img/true.png) no-repeat;  float: left; width: 12px; height: 12px; display: inline-block; background-size: 12px 12px; }

.brand_cards{margin:15px 0 0;}
.brand_cards li{float: left; width:30%; text-align: center; margin-right:8px;}
.brand_cards .on_select{float: left; vertical-align: middle; margin-top: 13px; display: none;}
.brand_cards li.hover .check_radio_true{background: url(../img/true.png) no-repeat; margin-top: 12px; float: left;  width: 12px; height: 12px; display: inline-block; background-size:12px 12px}
.brand_cards li .check_radio_true{background: url(../img/false.png) no-repeat;margin-top: 12px;  float: left; width: 12px; height: 12px;background-size: 12px 12px; display: inline-block; }
.brand_cards .img_at{border: 1px solid #e5e5e5; padding:4px;}
.brand_cards .img_at img{width: 100%; height: auto;}
.fr_div{margin-left: 16px;}
.brand_cards li .cards_names{display: block; padding-top: 3px; clear: both;}
.div_btn{width: 100%; text-align: center;}
.pay_btn_new{width: 98%; margin:10px auto 0; background: #bf1e2e; height: 35px; line-height: 35px; text-align: center; color: #fff; border-radius:2px;: }
.confirm_btn{width: 100%; height: 30px; line-height: 30px; margin-top: 10px; color: #333; display: block; background:#fff; border-radius: 3px;}