section {max-width: 640px; margin: 0px auto;}
/*优惠促销*/
.shop_list .pic_list li{position: relative; width: 96%; margin: 10px auto;box-sizing: border-box;-webkit-box-sizing: border-box;}
.shop_list .pic_list li .img_box img{width: 100%; height: auto;box-sizing: border-box;-webkit-box-sizing: border-box;}
.shop_list .pic_list li .Vendor_name{font-size: 14px; padding:5px 0 10px;color: #999;}
.search_right{position: absolute; right: 12px; line-height: 41px; height: 41px;}
/*热搜*/
.input_box{position:relative;margin:8px 50px 10px 81px;}
.shop_top_box{position: relative;}
.closed{color: #666; height: 35px; position: absolute; left: 10px; top: 0px; line-height: 35px; width: 25px; display: inline-block; font-size: 24px; font-family: 'iconfont';}
.closed:before{content: '\e655'}
.index_pic{position: absolute; left: 39px; top: 3px;line-height: 35px; height: 35px;}
.index_pic img{width:1.5rem; height: 1.5rem; display: inline-block;}
.search_box{padding:20px; width: 100%; position: relative; display: none;}
.text_box{-webkit-user-select: initial; user-select: initial; -webkit-appearance: none; border: 1px solid #e5e5e5;  width: 100%; box-sizing: border-box; color: #323232; border-radius: 4px; height: 30px; line-height: 22px; font-size: 14px; padding: 4px 10px 4px 30px; background:#fff;}
.search_icon{position:absolute;color: #bbb; margin-top: 9px; width: 25px; text-align: center; font-family: 'iconfont';}
.search_icon:before{content:'\e65d'}
.cancel{width: 15%; color: #666; font-size: 14px; text-align: center; box-sizing: border-box; position: absolute; top: 3px; right: 0;} 
.search_right2{position: absolute; top: 0px; right: 12px; font-size: 25px;}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
/*showbox*/
.show_divs{width: 110px; display: none; background: #f2f2f2; position: absolute; top: 48px; z-index: 9999; right: 0px; border:1px solid #e5e5e5;}
.show_divs2{top: 42px; right: -11px; border-top: 0px;}
.show_divs ul li{padding:10px; border-bottom: 1px solid #e5e5e5;}
.show_divs ul li:last-child{border-bottom: 0px;}
.show_divs ul li a{font-size: 14px; display: block;}
.div_ming{padding:10px 10px 0 10px;}
.swiper-slide img{width: 100%; height: auto;}
/*店铺页*/
.banner{position: relative;} 
.area_links{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: block;}
.banner img,.sub_img img{width: 100%; height: auto; background-size:100% auto;}
.banner .fav_btn,.banner .fav_btn1{position: absolute; right: 6px; bottom: 7px; background: #bf1e2e; padding:5px 15px; border-radius: 2px; color: #fff; display: inline-block; text-align: center;}
.banner .fav_btn1{background:#fff; color: #bf1e2e}
.shop_names{color: #fff; position: absolute; right: 10px; top: 5px;}
.banner .y_fav i{background: url(../img/fav_icon_white.png) no-repeat; width: 15px; height: 14px; background-size:15px 14px;display: inline-block;vertical-align: middle; margin-right: 3px;}
.banner .cancle_fav i{background: url(../img/fav_icon_on.png) no-repeat; width: 15px; height: 14px; background-size:15px 14px; display: inline-block;vertical-align: middle;margin-right: 3px;} 
/*切换 star*/
.tab2_box li{width: 25%; background: #fff; position: relative; float: left; text-align: center; height: 41px; line-height: 41px;}
.tab2_box li a{display: inline-block; font-size: 14px; width: 100%}
.tab2_box li .span_t{font-size:17px;font-family: 'iconfont';}
.tab2_box li .span_1:before{content:'\e693'}
.tab2_box li .span_2:before{content:'\e691'}
.tab2_box li .span_3:before{content:'\e690'}
.tab2_box li .span_4:before{content:'\e692'}
.tab2_box li .cur{ color: #f36; font-weight: bold;}
.tab2_box li .cur i{width: 100%; position: absolute; bottom: 0px;left: 0px; height: 3px; background:#f36;}
.tab3_box{clear: both;}
.sub_img{padding:10px;}
.mtab{padding:5px 0;}

/*排序*/
.shop_sorts{border-top: 1px solid #e5e5e5; background: #fff; position: relative; z-index: 2; border-bottom: 1px solid #e5e5e5;}
.sorts_ul li{float: left; width: 33.3%; position: relative; text-align: center; padding:12px 0px;}
.sorts_ul li.cur,.sorts_ul li span{color: #ef3f5b;}
.tab2_box{box-shadow: 0 0 3px 3px #ebebeb;}
.shop_carts{margin:1% auto 0; position: relative; z-index: 1; box-sizing: border-box;-webkit-box-sizing: border-box;  width: 100%;}
.list_ul li{float: left;width: 32.8%;background: #fff; padding-bottom: 6px; margin-right: 2px;border:1px solid #e5e5e5; margin-bottom: 4px; text-align: center;box-sizing: border-box; -webkit-box-sizing: border-box;box-shadow: 0 0 3px 3px #ebebeb;}
.list_ul li:nth-child(3n){margin-right: 0px;}
.list_ul li .img {min-height: 50px; padding:6px;}
.list_ul li .img img{width: 100%; height: auto; margin: 0 auto;}
.list_ul li .s_names{text-align: left; padding:0px 5px;font-size: 13px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.list_ul li .cur_prices{text-align:right;display: block; font-size: 16px; color: #e32525;padding:0px 5px;}
.list_ul li .cur_prices span{font-size:10px;}

/*店铺详情*/
.items_ul li{background: #fff; border:1px solid #e5e5e5; padding:10px; margin-top: 10px;}
.items_ul li span{float: left;}
.items_ul li span.fold{font-weight: bold; padding-right: 4%;}


@media screen and (max-device-width:360px){  
 .list_ul li .img img{width: 100%; height: auto; margin: 0 auto; min-height: 84px;max-height: 84px;}
}  

@media screen and (max-device-width:480px){
	.list_ul li .img img{width: 100%; height: auto; margin: 0 auto; min-height: 112px;max-height: 112px;}
}