#dxlMOrderLayer {width: 100%; background: url(../img/header-bg.png) repeat-x #efefef; background-size: 100% 41px;min-height: 41px; border-bottom: 1px solid #bfbfbf; border-width: 0 0 1px 0;}
#dxlMOrderLayer .dxlFrameMain {position: relative; }
#dxlMOrderLayer .dfa_title {color: #666; text-align: center; position: relative; height: 41px; line-height: 41px; font-size: 17px; margin: 0 auto; font-weight: bold;}
.show_divs{top: 48px;}

.fl{float: left;}
.fr{float: right; }
/*showbox*/
.show_divs ul li{padding:10px; text-align: left; border-bottom: 1px solid #e5e5e5;}
.show_divs ul li:last-child{border-bottom: 0px;}
.show_divs ul li a{font-size: 14px; display: block;}
/*盒子*/
.dl_box{background: #fff; padding:10px; position: relative; border-bottom: 1px solid #cacacb;border-top: 1px solid #cacacb; margin-bottom: 10px;}
.dl_box dt{float: left; width: 100%;}
.dl_box dt .img_cons{width:70px; float: left;}
.dl_box dt .img_cons img{width: 70px; height: 70px; border:1px solid #ddd;}
.dl_box dt .w90{margin-left: 85px;}
.dl_box dt .texts_names{font-size: 13px; width: 90%; height: 38px; overflow: hidden;}
.texts_info{display: block; padding-top: 15px; height: 22px;}
.texts_info span{float: left; padding-right: 10px;}
.texts_info .o_prices{color: #c91330; font-size: 15px; float: left;}
.texts_info .o_prices .yuan{font-size: 12px;}
.texts_info .o_counts{color: #6f6f6f; font-size: 13px; padding-top: 2px;}
.texts_info .o_states{color: #646464; float: right; padding-right: 0px;padding-top: 2px;}
.div_ock{border-top: 1px solid #e5e5e5; text-align: right; background: #fff;}
.div_ock .btn01s{width: 25%; padding:5px 0px; font-size: 14px; text-align: center; margin-top:7px; display: inline-block; border-radius: 5px; border:1px solid #c8102e;}
.div_ock .red{color: #c8102e;}
.delbtn{font-size:18px; position: absolute; right:10px; color: #898989; top: 8px; font-family:'iconfont'}
.delbtn:before{content:'\e62d'}
.div_box{width: 100%; margin: 10px auto 0; box-sizing: border-box; -webkit-box-sizing: border-box;} 
.No_orders{padding:30px 0; text-align: center; font-size: 16px; color: #737373;}
/*退款详情*/
.states{padding:15px 12px; background: #fff; border-bottom: 1px solid #ddd;}
.states dt{float: left;}
.states span{display: block;}
.states span.order_nums{font-size: 15px;}
.states span.order_times{font-size: 13px; color: #898989; padding-top: 3px;}
.been_Pay{color: #c8102e; font-size: 15px;}
.good_counts{border-bottom: 1px solid #ddd; background: #fff; padding:10px 12px;}
.good_counts strong{color: #c8102e; font-size: 15px;}
.sn_name{padding:10px; background: #fff;}
.y_top{margin-top: 10px; border:1px solid #ddd; border-left: 0px; border-right: 0px;}
.dl_ns{border-bottom: 1px solid #ddd; padding-bottom: 12px;}
.dl_ns dt,.Merchants dt{font-size: 14px; color: #1a1a1a; font-weight: bold; padding-bottom: 6px;}
.dl_ns dd{padding:5px 0px;}
.dl_ns dd span{color: #646464;}
.dl_ns dt .icon_ico{color: #009688; font-size: 17px; padding:0px 5px 0 0; font-family: 'iconfont'}
.dl_ns dt .icon_ico:before{content: '\e693'}
/*商家反馈*/
.Merchants{padding-top:6px;}
/*快递*/
.kuaidi{padding:15px 12px; background: #fff; border-bottom: 1px solid #ddd;}
.kuaidi dt{border-bottom: 1px solid #ddd; padding-bottom: 8px; position: relative;}
.kuaidi dd{padding-top: 8px;}
.kuaidi span{display: block;}
.kuaidi span strong{font-weight: bold;}
.kuaidi span .arrow{position: absolute; display: inline-block; right: 12px; top: 12px;font-family: 'iconfont'}
.kuaidi span .arrow:before{content: '\e651'}
/*上传图片*/
.Merchants dd{width: 100%;}
.Merchants dd .img1{width:63px; margin-right:3%; padding:2px; margin-bottom: 5px; border:1px solid #ddd; float: left; position: relative; z-index: 1; height: 63px;}
.Merchants dd .noImgIcon{ background: url(../img/camera.png) no-repeat; background-size:cover;}

.Merchants dd .img1 .close_btn{position: absolute; top: 0px; right: 0px;z-index: 999999; background: url(../img/close_i.png) no-repeat; background-size:15px 15px; height: 15px; width: 15px;}
.Merchants dd form:nth-child(5n) .img1{margin-right: 0px;}
.Merchants dd .btnImgFile{position: absolute; height: 100%; width: 100%; top: 0px; left: 0px; opacity: 0; z-index: 100;}
.Merchants dd .img1 img{ width:100%; height: auto; max-height:63px; min-height:63px;}
.t_order{background: #f4f4f4; padding:10px;}
.btn001s{width: 90px; height: 30px; line-height: 30px; color:#009688; border:1px solid #009688; border-radius: 3px; text-align: center; display: inline-block;}
.span_orders{vertical-align: middle; line-height: 25px; height: 25px; font-size: 13px; display: block;}

.navAllowed {background: #bf1e2e;  color: #fff; height: 40px; line-height: 40px; text-align: center; width: 95%; margin: 15px auto 5px; font-size: 16px; border-radius: 5px; -webkit-border-radius: 5px;}
.input_number{width: 80%; padding:8px 0px;}
.new_select{border: 0; height: 30px;font-size: 14px; color: #cfcfcf; width: 80%;background: transparent;  -webkit-appearance: none}
/*物流*/
.y_bar{ padding:20px 0px; background: #fff; margin-top: 10px; border-top:1px solid #ddd;border-bottom:1px solid #ddd; box-sizing: border-box; -webkit-box-sizing: border-box;}
.ul_wuliu li{padding:0px 20px;background: #fff; }
.ul_wuliu li .odd{position: absolute; background: url(../img/my_order_sprite.png); top:18px; width: 16px; height: 16px; display: inline-block; left:-8px;  z-index: 9; background-size: 16px 16px;}
.ul_wuliu li .light{position: absolute; background: url(../img/my_order_sprite_light.png); top:18px; width: 16px; height: 16px; display: inline-block; left:-8px;  z-index: 9; background-size: 16px 16px;}
.ul_wuliu li .order_info{width: 90%; padding:0;padding-left: 25px; position: relative; z-index: 1; float: left;border-left:1px solid #ddd; font-size: 13px;}
.ul_wuliu li .wuliu_text{border-bottom: 1px solid #ddd; padding:15px 0px;color: #898989;}
.ul_wuliu li .wuliu_text .bold{font-weight: bold;}
.ul_wuliu li .wuliu_text .time_ie{display: block; clear: both;}
.order_b{border-bottom: 1px solid #ddd;}
/*退货申请*/
.black{padding:8px 0px; color: #fff; text-align: center; font-size: 12px; background: #646464;}
.textarea{width: 100%; border: 1px solid #e5e5e5; height: 100px; padding:5px;box-sizing: border-box; -webkit-box-sizing: border-box;}
.able_counts{padding:10px 0px;}
.able_counts dt{border-bottom: 1px solid #ddd;}
.able_counts dd{padding-top:8px; font-size: 14px;}
.tips{color: #999; padding:8px 0px 5px;}
/*数量增加*/
.set_buy_num{ display: inline-block; vertical-align: middle;}
.set_buy_num a,.goodsCount{display: inline-block; float: left; width: 24px; height: 22px; line-height: 22px; background: #fff; border: 1px solid #e5e5e5; color: #999; text-align: center; font-size: 16px;}
.goodsCount{border: 1px solid #e5e5e5;width: 50px; float: left; vertical-align: bottom; background: #f9f9f9; color:#666;font: 14px/22px "arial"; height: 22px; margin:0 5px;}
.set_buy_num a:hover{color: #999;}
