.sh_success{text-align: center; padding-top:40%;}
.img_icon{font-size:80px; color: #00987d; font-family: 'iconfont';}
.img_icon:before{content: "\e684";}
.set_text{font-size: 18px; padding-top:10%;color: #00987d;}
.navAllowed{background: #bf1e2e; color: #fff; height: 40px; line-height: 40px; text-align: center; width: 95%; margin: 15% auto 5px; font-size: 16px; border-radius: 5px; -webkit-border-radius: 5px;}
@media screen and (max-device-width:360px){
.sh_success{text-align: center; padding-top:20%;}
}