<div id="page_des"  style="width:100%;height:100%;">
	<header class="head_bar">
		<a href="javascript:void(0)" class="arrow_r des_cancel_page"></a>
		<span class="c_txt">M-GO</span>
		<a href="javascript:void(0)" class="user_login"></a>
	</header>
	<!--魔购头部-->
	<!--头部搜索-->
	<section class="content">
		<div class="head_search">
			<span class="my_citys">上海</span>
			<div class="input_searchs"> <i class="icon_search"></i>
				<input type="search" class="search_s" id="des_input_end" autocomplete="off" placeholder="您现在要去哪儿？" />
				<div id="des_searchResultPanel" style="border:1px solid #C0C0C0;width:80%;height:auto;display:none;">
				</div>
			</div>
			<a href="javascript:void(0)" class="cancle_btn des_cancel_page">取消</a>
		</div>

		<div class="org_bj">
			<ul class="clearfix panel_ul" id="des_histroyList_ul">

			</ul>
		</div>
	</section>
</div>