<!DOCTYPE html>
<html lang="zh-CN">
<title>魔购出行（M-GO）</title>
<meta name="keywords" />
<meta name="description"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width ,initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<include file="Public/cite" />

<style type="text/css">
    .move_to_left{
        position:absolute;
        top:0;
        left:-100%;
    }
</style>
<body>
<div id="page_index" style="width:100%;height:100%;">
    <header class="head_bar">
        <a href="javascript:void(0)" class="arrow_r index_jumpout_need_show" back_to="" style="display:none;"></a>
        <span class="c_txt">M-GO</span>
        <a href="javascript:void(0)" class="user_login"></a>
    </header>
    <!--魔购头部-->
    <!--魔购出行 star-->
    <div class="mgo_map_index">
        <div id="index_baidumap" style="height:100%;"></div>
        <a href="javascript:void(0);" id="index_a_now_call_car" class="on_taxi index_jumpout_need_hide" style="color:#fff;">现在叫车</a>
        <img id="index_mid_logo" src="__PUBLIC__/mgotrip/images/home-location.png"  style="height:10%;" />
    </div>

    <div class="main_sm index_jumpout_need_hide">
        <ul class="u_panel clearfix">
            <li class="clearfix li_p org">
                <span class="icon_s"></span>
                <input type="text" class="s_areas" id="index_input_start" lng="" lat="" disabled placeholder="请输入初始位置" />
            </li>
            <li class="clearfix li_p des" style="border-bottom: 0;">
                <span class="icon_e"></span>
                <input type="text" class="s_areas" id="index_input_end"  lng="" lat="" disabled placeholder="请输入目的地"/>
            </li>
        </ul>
    </div>
    <!--加载next_step_1.html的内容-->
    <include file="Index/next_step_1"/>
    <!--加载add_passenger.html的内容-->
    <include file="Index/add_passenger"/>
    <!--加载passenger.html的内容-->
    <include file="Index/passenger"/>
    <!--加载payment.html的内容-->
    <include file="Index/payment"/>
</div>

<!--加载设置起始点页面-->
<include file="Index/origin" />

<!--加载设置目的地页面-->
<include file="Index/destination" />

<!--加载登陆框-->
<include file="Public/user_login" />
<form method="post" id="index_form_qsOrderCreate">
<input type="hidden" name="car_type" id="order_create_car_type" value=""/>
<input type="hidden" name="aboard_near" id="order_create_aboard_near" value=""/>
<input type="hidden" name="desti_latitude" id="order_create_desti_latitude" value=""/>
<input type="hidden" name="desti_longitude" id="order_create_desti_longitude" value=""/>
<input type="hidden" name="destination" id="order_create_destination" value=""/>
<input type="hidden" name="fare_fee" id="order_create_fare_fee" value="0"/>
<input type="hidden" name="gender" id="order_create_gender" value=""/>
<input type="hidden" name="latitude" id="order_create_latitude" value=""/>
<input type="hidden" name="longitude" id="order_create_longitude" value=""/>
<input type="hidden" name="location" id="order_create_location" value=""/>
<input type="hidden" name="mobile" id="order_create_mobile" value=""/>
<input type="hidden" name="name" id="order_create_name" value=""/>
<input type="hidden" name="order_no" id="order_create_order_no" value=""/>
<input type="hidden" name="passenger_id" id="order_create_passenger_id" value=""/>
<input type="hidden" name="pay_type" id="order_create_pay_type" value=""/>
</form>

<script type="text/javascript">
    /*兼容 横竖屏切换*/
    function hengshuping(){
        $('.mgo_map_index').height(screen.height);
        $('.mgo_map_index').width(screen.width);
        $('#index_mid_logo').poshytip('hide');
        setCenterIcon();
        setNowCallCarIcon();
        $('#index_mid_logo').poshytip('show');
    }
    window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", hengshuping, false);

    /*page_index start*******************************************/
    /*更新气泡信息和起始位置start*/
    function addPoshtip(msg){
        $('#index_mid_logo').poshytip({
            content: msg,
            className: 'tip-yellowsimple',
            showOn: 'none',
            alignTo: 'target',
            alignX: 'center',//inner-left
            offsetX: 0,
            offsetY: 5
        });
        $('#index_mid_logo').poshytip('show');
    }
    function updatePoshtip(msg,lng,lat){
        $('#index_mid_logo').poshytip('update',msg);
        $('#index_input_start').val(msg);
        $('#index_input_start').attr('lng',lng);
        $('#index_input_start').attr('lat',lat);
    }
    /*更新气泡信息和起始位置end*/
    /*创建地图对象 start*/
    var map= new BMap.Map('index_baidumap');
    map.centerAndZoom('{$currentCity}',15);
    map.enableScrollWheelZoom();
    map.enablePinchToZoom();
    map.disableInertialDragging();
    //map.enableAutoResize();

    /*定位箭头图标到地图中心点 start*/
    setCenterIcon();
    function setCenterIcon(){
        var ww=document.getElementById('index_baidumap').offsetWidth;
        var wh=document.getElementById('index_baidumap').offsetHeight;
        var logo=document.getElementById('index_mid_logo');
        var logow=logo.width;
        var logoh=logo.height;
        logo.style.position='absolute';
        logo.style.bottom=((wh/2)-(logoh*1/10))+'px';
        logo.style.left=(ww-logow)/2+'px';
    }
    //切换横竖屏时执行，重新定位‘开始打车’按钮
    function setNowCallCarIcon(){
        var ww=document.getElementById('index_baidumap').offsetWidth;
        var wh=document.getElementById('index_baidumap').offsetHeight;
        var index_a_now_call_car=document.getElementById('index_a_now_call_car');
        index_a_now_call_car.style.display='block';
        index_a_now_call_car.width=ww*0.9;
        index_a_now_call_car.height=wh*0.05;
        var iw=index_a_now_call_car.width;
        var ih=index_a_now_call_car.height;
        index_a_now_call_car.style.position='absolute';
        index_a_now_call_car.style.bottom=wh*0.2+'px';
        index_a_now_call_car.style.left=(ww-iw-2)/2+'px';
    }
    /*定位箭头图标到地图中心点 end*/

    var geoc=new BMap.Geocoder();

    /*设置Poshtip控件并启动 start*/
    addPoshtip('定位中...');
    $('#index_input_start').val('定位中...');
    /*设置Poshtip控件并启动 end*/

    /*获取当前位置-定位start*/
    var geolocation=new BMap.Geolocation();

    geolocation.getCurrentPosition(function (r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            //map.panTo(r.point);
            map.centerAndZoom(r.point,18);
            geoc.getLocation(r.point,function(ci){
                var addrinfo=ci.addressComponents;
                var firstMsg=addrinfo.province+addrinfo.city+addrinfo.district+addrinfo.street+addrinfo.streetNumber;
                updatePoshtip(firstMsg,r.point.lng,r.point.lat);
            });
        }else{
            var firstMsg='定位失败，拖动地图以选择起点！';
            updatePoshtip(firstMsg,0,0);
        }
    },{enableHighAccuracy:true});
    /*获取当前位置-定位end*/

    /*创建地图对象 end*/

    /*获取中心点的地址信息 start*/
    function moveGetAddr(){
        var cc=map.getCenter();
        geoc.getLocation(cc,function(cic){
            var addrinfoC=cic.addressComponents;//addressComponents
            updatePoshtip(
                    addrinfoC.province+addrinfoC.city+addrinfoC.district+addrinfoC.street+addrinfoC.streetNumber,
                    cc.lng,
                    cc.lat
            );
        });
    }
    /*获取中心点的地址信息 start*/

    /*添加移动监听事件*/
    map.addEventListener('dragend',moveGetAddr);
    map.addEventListener('touchmove',moveGetAddr);

    //$(function(){
    $('#page_des').addClass('move_to_left');
    $('#page_origin').addClass('move_to_left');
    jumpSearchIndex('origin_input_start','origin_searchResultPanel','page_origin','org');
    jumpSearchIndex('des_input_end','des_searchResultPanel','page_des','des');
    /*点击起始位置事件*/
    $('.u_panel li.org').click(function(){
        $('#index_mid_logo').poshytip('hide');
        $('#origin_indexInputStart').text($('#index_input_start').val());
        $('#page_origin').removeClass('move_to_left');
        $('#page_index').addClass('move_to_left');
        $.ajax({
            url:'__ROOT__/index.php?m=Home&c=Index&a=getAddr',
            type:'get',
            data:{act:'org'},
            success:function (e){
                if(e && e!=''){
                    var list=e+'<a href="javascript:void(0)" class="clear_record" id="origin_clear_record">清空历史记录</a>';
                    $('#origin_histroyList_div').html(list);
                    $('.origin_histroyList_li').on('click',{page:'org'},jumpToHistroy);
                    $('#origin_clear_record').on('click',{page:'org'},clearRecord);
                }
            }
        });
    })
    /*点击终点位置事件*/
    $('.u_panel li.des').click(function(){
        $('#index_mid_logo').poshytip('hide');
        $('#page_des').removeClass('move_to_left');
        $('#page_index').addClass('move_to_left');
        $.ajax({
            url:'__ROOT__/index.php?m=Home&c=Index&a=getAddr',
            type:'get',
            data:{act:'des'},
            success:function (e){
                if(e && e!=''){
                    var list=e+'<a href="javascript:void(0)" class="clear_record" id="des_clear_record">清空历史记录</a>';
                    $('#des_histroyList_ul').html(list);
                    $('.des_histroyList_li').on('click',{page:'des'},jumpToHistroy);
                    $('#des_clear_record').on('click',{page:'des'},clearRecord);
                }
            }
        });
    });
    $('.on_taxi.index_jumpout_need_hide').click(function(){
        var isLogin='';
        <present name="user_data">
        isLogin='yes';
        </present>
        var sPosition=$('#index_input_start').val();
        var ePosition=$('#index_input_end').val();
        if(sPosition=='' || sPosition=='定位中...' || ePosition==''){
            layer.open({
                content:'起始位置和目的地都不能为空',
                btn:'确定'
            });
        }else{
            if(isLogin==''){
                //未登录
                layer.open({
                    content:'请先登录',
                    skin:'msg',
                    time:2
                });
                $('.shade3_box').slideDown();
                $('body').addClass('hidden');

            }else{
                map.disableScrollWheelZoom();
                map.disableDoubleClickZoom();
                map.disableDragging();
                map.disablePinchToZoom();
                $('#index_mid_logo').poshytip('hide');
                $('.arrow_r.index_jumpout_need_show').attr('back_to','index');
                $('.index_jumpout_need_hide').hide();
                $('.index_jumpout_need_show').show();
                $('#nextStep_input_start').val($('#index_input_start').val());
                $('#nextStep_input_end').val($('#index_input_end').val());
            }
        }
    });
    $('.arrow_r.index_jumpout_need_show').click(function(){
        var backTo=$(this).attr('back_to');
        switch(backTo){
            case 'index':
                map.enableScrollWheelZoom();
                map.enableDoubleClickZoom();
                map.enableDragging();
                map.enablePinchToZoom();
                $('.arrow_r.index_jumpout_need_show').attr('back_to','');
                $('.index_jumpout_need_hide').show();
                $('.index_jumpout_need_show').hide();
                $('#index_mid_logo').poshytip('show');
                break;
            case 'nextStep':
                $('#page_nextStep').show();
                $('#page_addPassenger').hide();
                $('.arrow_r.index_jumpout_need_show').attr('back_to','index');
                break;
            case 'addPassenger':
                $('#page_addPassenger').show();
                $('#page_passenger').hide();
                $('#page_payment').hide();
                $('.arrow_r.index_jumpout_need_show').attr('back_to','nextStep');
                break;
            case 'passenger':
                $('#page_passenger').show();
                $('#page_payment').hide();
                $('.arrow_r.index_jumpout_need_show').attr('back_to','addPassenger');
                break;

            default:
                break;
        }
    });
    //});
    /*page_index end********************************************/

    /*page_origin start****************************************/
    /*点击当前定位位置事件*/
    $('#origin_indexInputStart').click(function (){
        $('#index_input_start').val($(this).text());
        $('#page_index').removeClass('move_to_left');
        $('#page_origin').addClass('move_to_left');
        $('#index_mid_logo').poshytip('show');
    });
    /*绑定取消键点击事件*/
    $('.org_cancel_page').on('click',{page:'org'},cancelPage);
    /*page_origin end**********************************/

    /*page_des start********************************/
    /*绑定取消键点击事件*/
    $('.des_cancel_page').on('click',{page:'des'},cancelPage);
    /*page_des end********************************/

    /**************************************公共函数start*********************/
    /*弹出百度地图关键字搜索索引*/
    function jumpSearchIndex(input,searchResultPanel,pageId,act){
        /*alert(input+','+searchResultPanel+','+pageId+','+act);*/
        if(act=='org'){
            var orgAc = new BMap.Autocomplete(    //建立一个自动完成的对象
                    {"input" : input,
                        "location" : map
                    });
            orgAc.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
                var _valueOrg = e.item.value;
                var orgValue = _valueOrg.province +  _valueOrg.city +  _valueOrg.district +  _valueOrg.street +  _valueOrg.business;
                G(searchResultPanel).innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + orgValue;
                map.clearOverlays();
                function orgFun(){
                    var orgPp = orgLocal.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                    $('#page_index').removeClass('move_to_left');
                    $('#'+pageId).addClass('move_to_left');
                    map.centerAndZoom(orgPp, 18);
                    $('#index_mid_logo').poshytip('show');
                    updatePoshtip(orgValue,orgPp.lng,orgPp.lat);
                    ajaxRequest('__ROOT__/index.php?m=Home&c=Index&a=saveAddr',{addr:orgValue,lng:orgPp.lng,lat:orgPp.lat,act:act});
                }
                var orgLocal = new BMap.LocalSearch(map, {
                    onSearchComplete: orgFun
                });
                orgLocal.search(orgValue);
            });
        }else if(act=='des'){
            var desAc = new BMap.Autocomplete(    //建立一个自动完成的对象
                    {"input" : input
                        ,"location" : map
                    });
            desAc.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
                var _valueDes = e.item.value;
                var desValue = _valueDes.province +  _valueDes.city +  _valueDes.district +  _valueDes.street +  _valueDes.business;
                G(searchResultPanel).innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + desValue;
                map.clearOverlays();
                function desFun(){
                    var desPp = desLocal.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                    $('#page_index').removeClass('move_to_left');
                    $('#'+pageId).addClass('move_to_left');
                    $('#index_mid_logo').poshytip('show');
                    $('#index_input_end').val(desValue);
                    $('#index_input_end').attr('lng',desPp.lng);
                    $('#index_input_end').attr('lat',desPp.lat);
                    ajaxRequest('__ROOT__/index.php?m=Home&c=Index&a=saveAddr',{addr:desValue,lng:desPp.lng,lat:desPp.lat,act:act});
                }
                var desLocal = new BMap.LocalSearch(map, {
                    onSearchComplete: desFun
                });
                desLocal.search(desValue);
            });
        }
        function ajaxRequest(url,data){
            $.ajax({
                url:url,
                type:'post',
                data:data
            });
        }
    }
    /*点击历史纪录事件*/
    function jumpToHistroy(event){
        if(event.data.page=='org'){
            $(this).addClass('current').siblings().removeClass('current');
            var lng=$(this).attr('lng');
            var lat=$(this).attr('lat');
            $('#page_index').removeClass('move_to_left');
            $('#page_origin').addClass('move_to_left');
            map.centerAndZoom(new BMap.Point(lng,lat), 18);
            $('#index_mid_logo').poshytip('show');
            updatePoshtip($(this).text(),lng,lat);
        }else if(event.data.page='des'){
            $(this).addClass('current').siblings().removeClass('current');
            var lng=$(this).attr('lng');
            var lat=$(this).attr('lat');
            $('#page_index').removeClass('move_to_left');
            $('#page_des').addClass('move_to_left');
            $('#index_mid_logo').poshytip('show');
            $('#index_input_end').val($(this).text());
            $('#index_input_end').attr('lng',lng);
            $('#index_input_end').attr('lat',lat);
        }
    }
    /*取消当前页*/
    function cancelPage(event){
        if(event.data.page=='org'){
            $('#page_index').removeClass('move_to_left');
            $('#page_origin').addClass('move_to_left');
            $('#index_mid_logo').poshytip('show');
        }else if(event.data.page='des'){
            $('#page_index').removeClass('move_to_left');
            $('#page_des').addClass('move_to_left');
            $('#index_mid_logo').poshytip('show');
        }
    }
    /*清空历史纪录*/
    function clearRecord(event){
        $.ajax({
            url: '__ROOT__/index.php?m=Home&c=Index&a=unsetHistroyListCookie',
            type: 'get',
            data: {act: event.data.page},
            success:function(){
                if(event.data.page=='org'){
                    $('#origin_histroyList_div').empty();
                }else if(event.data.page='des'){
                    $('#des_histroyList_ul').empty();
                }
            }
        });
    }
    /*获取标签对象*/
    function G(id) {
        return document.getElementById(id);
    }
    /*****************************公共函数end*****************************************/

</script>
</body>
</html>
