<div class="main_sm index_jumpout_need_show" id="page_nextStep" style="display:none;">
	<ul class="u_panel clearfix">
		<li class="clearfix li_p">
			<span class="icon_s"></span>
			<input type="text" class="s_areas" id="nextStep_input_start" disabled="disabled" placeholder="请输入起始地" />
		</li>
		<li class="clearfix li_p">
			<span class="icon_e"></span>
			<input type="text" class="s_areas" id="nextStep_input_end" disabled="disabled" placeholder="请输入目的地"/>
		</li>
		<li class="clearfix li_p li_t">
			<label class="icon_label">选择时间：</label>
			<div class="ins_now">现在</div>
		</li>
		<li class="clearfix li_p li_t">
			<label class="icon_label">选择车型：</label>
			<div class="select_models">
				<a href="javascript:void(0)" car_type="{$carTypeUnlimited}" class="select">全部车型</a>
				<a href="javascript:void(0)" car_type="{$carTypeSangtana}">普通型</a>
				<a href="javascript:void(0)" car_type="{$carTypeTuan}">途安型</a>
			</div>
		</li>
		<li class="clearfix li_p li_t">
			<label class="icon_label">备注信息：</label>
			<input type="text" class="bz_inp" id="nextStep_input_remark" placeholder="有什么要告诉司机的信息?"/>
		</li>
	</ul>
	<div class="m_next_step">
		<a href="javascript:void(0);" class="next-step" id="nextStep_next_step">下一步</a>
	</div>
	<script type="text/javascript">
		$(function(){
			//选择车型
			$('.select_models a').click(function(){
				$(this).addClass('select').siblings().removeClass('select');
				$('#order_create_car_type').val($(this).attr('car_type'));
				$('#nextStep_input_remark').blur(function (){
					$('#order_create_aboard_near').val($(this).val());
				});
			});
			$('#nextStep_next_step').click(function(){
				$('#page_nextStep').hide();
				$('#page_addPassenger').show();
				$('.arrow_r.index_jumpout_need_show').attr('back_to','nextStep');
				$.ajax({
					url:'__MODULE__/Index/getPassengerList',
					success:function (e){
						if(e && e!=''){
							$('#addPassenger_ul_passengerList').html(e);
						}
					}
				});
			});
		});
	</script>
</div>



