<div id="page_origin"  style="width:100%;height:100%;">
	<header class="head_bar">
		<a href="javascript:void(0)" class="arrow_r org_cancel_page"></a>
		<span class="c_txt">M-GO</span>
		<a href="javascript:void(0)" class="user_login"></a>
	</header>
	<!--魔购头部-->
	<!--头部搜索-->
	<section class="content">
		<div class="head_search">
			<span class="my_citys">上海</span>
			<div class="input_searchs"> <i class="icon_search"></i>
				<input type="search" class="search_s" id="origin_input_start" autocomplete="off" placeholder="您现在要去哪儿？" />
				<div id="origin_searchResultPanel" style="border:1px solid #C0C0C0;width:80%;height:auto;display:none;">
				</div>
			</div>
			<a href="javascript:void(0)" class="cancle_btn org_cancel_page">取消</a>
		</div>

		<div class="org_bj">
			<ul class="clearfix panel_ul" >
				<li>
					<span id="origin_indexInputStart"></span>
					<span class="map"></span>
				</li>
				<div id="origin_histroyList_div">

				</div>
			</ul>
		</div>
	</section>
</div>
