<div class="main_sm" id="page_passenger" style="display:none;">
	<ul class="u_panel clearfix">
		<li class="clearfix li_p li_t">
			<label class="icon_label w80">*乘客姓名：</label>
			<input type="text" class="bz_inp" id="passenger_input_name" autocomplete="off" placeholder="请填写姓名"/>
		</li>
		<li class="clearfix li_p li_t">
			<label class="icon_label w80">*手机号码：</label>
			<input type="tel" class="bz_inp" id="passenger_input_mobile" autocomplete="off" placeholder="请填写手机号"/>
		</li>
		<li class="clearfix li_p li_t">
			<label class="icon_label w80">&nbsp;&nbsp;您的性别：</label>
			<div class="select_models" id="passenger_gender_list">
				<a href="javascript:void(0);" gender="{$sexMan}">先生</a>
				<a href="javascript:void(0);" class="select" gender="{$sexLady}">女士</a>
			</div>
		</li>
	</ul>
	<div class="m_xtips"> <i class="tip30s"></i>
		如您预约后成功搭乘，车费中还将包含4元强生电调费用
	</div>
	<div class="m_next_step">
		<a href="javascript:void(0);" id="passenger_payment" class="pay_btn30s">支付叫车费用</a>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#passenger_payment').click(function(){
				//先判断用户是否输入了可用有效的信息
				$('#index_mid_logo').poshytip('hide');

				var newName=$('#passenger_input_name').val();
				var newMobile=$('#passenger_input_mobile').val();
				var number = /^(1[3578]\d|14[57])[0-9]{8}$/;
				if(newName && newName!=0 && newName!='0' && newName!='0.0' && newMobile){
					if(number.test(newMobile)){
						//隐藏当前模块，显示跳转模块
						$('#page_passenger').hide();
						$('#page_payment').show();
						$('.arrow_r.index_jumpout_need_show').attr('back_to','passenger');
						//存储表单需求参数
						$('#order_create_passenger_id').val('');
						$('#order_create_gender').val($('#passenger_gender_list a.select').attr('gender'));
						$('#order_create_name').val($('#passenger_input_name').val());
						$('#order_create_mobile').val($('#passenger_input_mobile').val());
						//给payment页面赋值
						$('#payment_input_start').val($('#index_input_start').val());
						$('#payment_input_end').val($('#index_input_end').val());
						$('#payment_div_aboard_near').text($('#order_create_aboard_near').val());
						$('#payment_passenger_info').text($('#passenger_input_name').val()+' （'+$('#passenger_gender_list a.select').text()+'） '+$('#passenger_input_mobile').val());
						//获取payment页面的服务费信息
						$.ajax({
							url:'__MODULE__/Index/getServiceCharge',
							type:'post',
							success:function (e){
								if(e && e!=''){
									$('#payment_dl_service_charge').html(e);
									$('#payment_dl_service_charge dd').on('click',function(){
										$(this).children('div').addClass('circle_round');
										$(this).children('p').show();
										$(this).siblings().children('div').removeClass('circle_round');
										$(this).siblings().children('p').hide();
										$('#payment_strong_need_pay').text($(this).children('div').text());
										$('#order_create_fare_fee').val($(this).children('div').text()*100);
									});
								}
							}
						});
						/*var tem_html='<li class="select" passenger_id="" name="'+tem_name+'" gender="'+tem_gender+'" mobile="'+tem_mobile+'"> <span class="grays">乘客：</span> <span class="n_names">'+tem_name+'（'+$("#passenger_gender_list a.select").text()+'）</span> <span class="tel">'+tem_mobile+'</span> <i class="arrow_right"></i></li>';
						 $('#addPassenger_ul_passengerList li').each(function (){
						 $(this).removeClass('select');
						 });
						 $('#addPassenger_ul_passengerList').append(tem_html);*/
					}else{
						layer.open({
							content:'请填写合法的手机号',
							btn:'确定'
						});
					}
				}else{
					layer.open({
						content:'乘客姓名和手机号不能为空或特殊字符',
						btn:'确定'
					});
				}
			});
		});
	</script>
</div>



