<!DOCTYPE html>
<html lang="zh-CN">
	<title>魔购出行（M-GO）</title>
	<meta name="keywords" />
	<meta name="description"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width ,initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../../../../../../项目存放/mgocx%20-%20副本/mgocx_css/common.css">
	<link rel="stylesheet" href="../../../../../../../项目存放/mgocx%20-%20副本/mgocx_css/index.css">
	<link rel="stylesheet" href="../../../../../../../项目存放/mgocx%20-%20副本/mgocx_css/need/layer.css">
	<script type="text/javascript" src="../../../../../../../项目存放/mgocx%20-%20副本/mgocxjs/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../../../../../项目存放/mgocx%20-%20副本/mgocxjs/common.js"></script>
	<script type="text/javascript" src="../../../../../../../项目存放/mgocx%20-%20副本/mgocx_css/layer.js"></script>
<body>
	<header class="head_bar">
		<a href="javascript:void(0)" class="arrow_canel">取消叫车</a>
		<span class="c_txt">等待回应</span>
		<a href="javascript:void(0)" class="user_login"></a>
	</header>
	<!--魔购头部-->
	<!--魔购出行 star-->
	<div class="mgo_map_index">
		<div class="shade30s_box">
			<div class="tips_texts">
				正在为您搜索
				<br />
				附近1公里内出租车
				<br />
				请耐心等待
				<br />
				<p class="timeout">120秒</p>
			</div>
		</div>
	</div>

	<!--登录框 star-->
	<div class="shade3_box">
		<div class="login_box" id="login_box">
			<div class="login_bar">
				<h3>验证手机</h3>
				<a href="javascript:void(0)" class="btn-close-box"></a>
				<!--表单star-->
				<div class="form-box">
					<div class="form-label">
						<input type="tel" name="" placeholder="请输入手机号" class="form-input mobile" />
					</div>
					<div class="form-label">
						<input type="number" name="" placeholder="请输入验证码" class="form-input smaller codes" />
						<!-- <i class="close_i"></i>
					-->
					<span class="r_text">获取验证码</span>
				</div>
				<a href="javascript:void(0)" class="login_btns" disabled="disabled">登录</a>
			</div>
		</div>
	</div>
</div>
<!--支付密码框 star-->
<div class="shade2_box">
	<div class="login_box" id="login_box">
		<div class="login_bar">
			<h3>请输入支付密码</h3>
			<a href="javascript:void(0)" class="btn-close-box"></a>
			<div class="form-box2">
				<div id="loginByPWD" class="publicCon">
					<div class="pwd-box">
						<input type="tel" maxlength="6" autofocus="autofocus" class="pwd-input" id="pwd-input">
						<div class="fake-box clearfix">
							<input type="password" />
							<input type="password" />
							<input type="password" />
							<input type="password" />
							<input type="password" />
							<input type="password" />
						</div>
						<span class="error" id="hint" style="position:absolute; left:100px; bottom:-24px;"></span>
					</div>
				</div>
				<a href="javascript:void(0)" class="pay_login" disabled="disabled">登录</a>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
		$(function(){
			$('.user_login').click(function(){
				$('.shade3_box').slideDown();
				$('body').addClass('hidden');
			});
			$('.btn-close-box').click(function(){
				$('.shade3_box').hide();
				$('body,.main_sm').removeClass('hidden');				
				 window.location.reload();
			});		
			$('.form-input').each(function(){
				if($(this).val() ==''){									
					$('.login_btns').removeClass('login_on'); 
					$('.login_btns').attr("disabled","disabled")   
					return false;             
				}  else{
					$('.login_btns').addClass('login_on'); 
					$('.login_btns').removeAttr("disabled");   
				} 
			});
			$(".form-input").keyup("input", function() {        
            var parents =  $(this).parents('.form-box');                             
            parents.find('.form-input').each(function(e){
            	if($(this).val() == ''){
                    $('.login_btns').removeClass('login_on'); 
                    $('.login_btns').attr("disabled","disabled")   
                    return false;             
                }
                	$('.login_btns').addClass('login_on');
                    $('.login_btns').removeAttr("disabled");
                  
            })
        });	

			$('.login_btns').on('click',function(){				
				if($(this).attr('disabled') == 'disabled'){					
					return; 
				}else{
					var mobile = $.trim($('.mobile').val());
					var codes = $.trim($('.codes').val());
					var number = /^(1[3578]\d|14[57])[0-9]{8}$/;
					if(!mobile){
						layer.open({
							content: '请填写手机号码',
							btn: ['确认', '取消']
					});
						return false;
					}else if(!number.test(mobile)){
						// alert('请输入正确的手机号');
						layer.open({
							content: '请输入正确的手机号',
							btn: ['确认', '取消']
						});						
					}
					if(!codes){
						layer.open({
							content: '请填写验证码',
							btn: ['确认', '取消']
					});
						
						return false;
					}
				}				
				
			})
			$('.r_text').click(function(){
				var mobile = $.trim($('.mobile').val());				
				var number = /^(1[3578]\d|14[57])[0-9]{8}$/;
				if(!mobile){
					layer.open({
							content: '请填写手机号码',							
							btn: ['确认', '取消']
					});					
					return false;
				}else if(!number.test(mobile)){
					layer.open({
							content: '请输入正确的手机号',
							btn: ['确认', '取消']
					});					
				}
			})
			//取消叫车
		$('.arrow_canel').click(function(){
			layer.open({
				content: '现在取消，<span style="color:#cf0000">预约费用</span>不再返回哦！',							
					btn: ['继续等待', '忍痛放弃'],
					anim: 'up',
					yes: function(index, layero){
					    layer.open({
					    	content: '确定要取消叫车吗？',							
							btn: ['取消', '确定'],
					    });
					    //按钮1回调
					  },no: function(index, layero){
					    alert('忍痛放弃');
					    //按钮2回调
					  }
			});
		}) 
			//倒计时
			var num=120;
            var  btn_status=setInterval(function(){
                --num;
                if(num > 1){
                 return $('.timeout').html(num+'秒');
                }                
                num = 120;
            },1000);
            //支付密码
            var $input = $(".fake-box input"); //假框输入
		        $("#pwd-input").on("input", function() {
		            var pwd = $(this).val().trim();
		            for (var i = 0, len = pwd.length; i < len; i++) {
		                $input.eq("" + i + "").val(pwd[i]);
		                // $input.eq("" + i + "").addClass('on').siblings().removeClass('on');      
		            }
		            $input.each(function() {
		                var index = $(this).index();
		                if (index >= len) {
		                    $(this).val("");
		                }
		            });
		            if (len == 6) {
		                //执行其他操作
		                $('.go_btn_n').addClass('current');
		            }
		        });
		});
	</script>
</body>
</html>