<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>订单详情02</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <include file="Public/cite"/>
    <style type="text/css">
        #order_details #order_details_about p {
            padding-left: 40px;
        }
        #order_details_about {
            padding-bottom:10px;
        }
    </style>
</head>
<body>
<!-- top -->
    <header class="head_bar">
        <a href="javascript:void(0)" class="arrow_r undoneOrderDetail_cancel_page"></a>
        <span class="c_txt">订单详情</span>
    </header>
<!-- section -->
    <section class="content">
        <div class="viewport">
            <!-- 订单详情 -->
            <div class="order_details" id="order_details">
                <p class="get_order_time">
                    <span class="f700 fl18">下单时间：</span>
                    <span>{$orderDetail->date|substr=###,0,9}</span>&nbsp;&nbsp;
                    <span>{$orderDetail->date|substr=###,11}</span>
                </p>
                <p class="get_order_name">
                    <span class="f700">商户：</span>
                    <span>{$orderDetail->shop}</span>
                </p>
                <p class="get_order_number">
                    <span class="f700 p18">订单号：</span>
                    <span>{$orderDetail->order_no}</span>
                </p>
                <!-- 订单详情介绍 -->
                <div class="order_details_about" id="order_details_about">
                    <div class="details_about">
                        <span class="f700">订单详情：</span>
                    </div>
                    <p>
                        {$orderDetail->desc|str_replace='\\r\\n','</p><p>',###}
                </p>

                </div>
                 <!-- 订单zhifu详情介绍   -->
                <div class="order_details_pay">
                    <p class="details_pay01 p18">
                        <span class='fs16'>总计：</span>
                        <span class='f30 fs16'>{$orderDetail->total_amount}元</span>
                    </p>
                    <p class="details_pay02 p18">
                        <span class='fs16'>优惠：</span>
                        <span class='f57 fs16'>-{$orderDetail->privil_amount}元</span>
                    </p>
                    <p class="details_pay03 p18">
                        <span>实付：</span>
                        <span class='f30'>{$orderDetail->paid_amount}元</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    $("#btn_exit").bind("click", function() {
        window.history.go(-1);      
    });
    $('.undoneOrderDetail_cancel_page').click(function (){
        window.location.href='__CONTROLLER__/myOrder?status=1';
    });
</script>