<div class="cart1">
    <ul class="h5_footer">
        <li>
            <a href="{:U('Index/index')}">
                <span id="footmenu1" class="i1 focus"></span> <strong>商城</strong>
            </a>
        </li>
        <li>
            <a href="{:U('Category/index')}">
                <span id="footmenu2" class="i1 share"></span> <strong>分类</strong>
            </a>
        </li>
        <li>
            <a href="{:U('Cart/cart')}">
                <span class="i1 carts_s"><i class="circles" id="cart_num">0</i></span>
                <strong>购物车</strong>
            </a>
        </li>
        <li>
            <a href="{:U('User/index')}">
                <span  id="footmenu4"  class="i1 my_user"></span>
                <strong>我的</strong>
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        sumcartcount();
    })
    //计算购物车价格
    function sumcartcount(){
        var n = 0;
        var z_price = 0;
        $.getJSON('{:U('Goodscar/ajax_cart')}',{"random":Math.random},function(content){
            if(content.isError == false)
            {
                $("#cart_num").html(content.data);
            }else{
                $("#cart_num").html(0);
            }
        });
    }
</script>