<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>关于</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <include file="Public/cite" />
</head>
<body>
<!-- top -->
   <header class="head_bar">
        <a href="javascript:window.location.href='__ROOT__/index.php?m=Home&c=My&a=my';" class="arrow_r"></a>
        <span class="c_txt">关于</span>
    </header>
<!-- section -->
    <section class="content">
        <div class="mian_m">
            <img class="about_logo" src="__PUBLIC__/mgotrip/images/about_logo.png" alt="" />
                
             <div class="mian_f">
                <img class="company_foot" src="__PUBLIC__/mgotrip/images/company_foot.png" alt="" />
             </div>   
        </div>
    </section>
</body>
</html>
